<!--<div class="container" [dragula]='"bag-main"'>-->
    <!--&lt;!&ndash;block right&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="blokc-right col-xs-12 col-md-6">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="map">&ndash;&gt;-->
    <!--&lt;!&ndash;&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--&lt;!&ndash;end block right&ndash;&gt;-->

    <!--<div class="route-planning">-->
        <!--&lt;!&ndash; left field route&ndash;&gt;-->
        <!--<div class="col-xs-12 col-md-6">-->
            <!--<div class="field-route">-->
                <!--<md2-accordion style="width: 100%;height: 100%;" class="wrapper-accardion" [dragula]='"bag-kek"' [multiple]="true">-->

                <!--</md2-accordion>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;end left field route&ndash;&gt;-->

        <!--&lt;!&ndash;right field route&ndash;&gt;-->
        <!--<div class="col-xs-12 col-md-6">-->
            <!--<div class="field-route">-->
                <!--<md2-accordion class="wrapper-accardion" style="width: 100%;height: 100%;" [dragula]='"bag-kek"' [multiple]="true">-->

                    <!--&lt;!&ndash;trip&ndash;&gt;-->
                        <!--<md2-accordion-tab class="accordion">-->

                            <!--<md2-accordion-header class="customer-handle">Customer</md2-accordion-header>-->

                            <!--<md2-accordion  class="wrapper-accardion" [multiple]="true">-->

                                    <!--<div class="address-container" [dragula]="'bag-kek1'">-->

                                        <!--<md2-accordion-tab class="accordion">-->
                                            <!--<md2-accordion-header class="address-handle">Address</md2-accordion-header>-->
                                            <!--<div class="realization-container" [dragula]="'bag-kek2'">-->

                                                <!--<div data-guid="q123qwe" class="realization-handle"> Realization</div>-->
                                                <!--<div data-guid="q123qwe" class="realization-handle"> Realization</div>-->
                                                <!--<div data-guid="q123qwe" class="realization-handle"> Realization</div>-->
                                                <!--<div data-guid="q123qwe" class="realization-handle"> Realization</div>-->

                                            <!--</div>-->
                                        <!--</md2-accordion-tab>-->

                                        <!--<md2-accordion-tab class="accordion">-->
                                            <!--<md2-accordion-header class="address-handle">Address</md2-accordion-header>-->
                                            <!--<div class="realization-container" [dragula]="'bag-kek2'">-->

                                                <!--<div class="realization-handle"> Realization</div>-->
                                                <!--<div class="realization-handle"> Realization</div>-->
                                                <!--<div class="realization-handle"> Realization</div>-->
                                                <!--<div class="realization-handle"> Realization</div>-->

                                            <!--</div>-->
                                        <!--</md2-accordion-tab>-->

                                    <!--</div>-->

                            <!--</md2-accordion>-->

                        <!--</md2-accordion-tab>-->
                    <!--&lt;!&ndash;end trip&ndash;&gt;-->

                    <!--&lt;!&ndash;trip&ndash;&gt;-->
                    <!--<md2-accordion-tab class="accordion">-->

                        <!--<md2-accordion-header class="customer-handle">Customer</md2-accordion-header>-->

                        <!--<md2-accordion  class="wrapper-accardion" [multiple]="true">-->

                            <!--<div class="address-container" [dragula]="'bag-kek1'">-->

                                <!--<md2-accordion-tab class="accordion">-->
                                    <!--<md2-accordion-header class="address-handle">Address</md2-accordion-header>-->
                                    <!--<div class="realization-container" [dragula]="'bag-kek2'">-->

                                        <!--<div class="realization-handle"> Realization</div>-->
                                        <!--<div class="realization-handle"> Realization</div>-->
                                        <!--<div class="realization-handle"> Realization</div>-->
                                        <!--<div class="realization-handle"> Realization</div>-->

                                    <!--</div>-->
                                <!--</md2-accordion-tab>-->

                                <!--<md2-accordion-tab class="accordion">-->
                                    <!--<md2-accordion-header class="address-handle">Address</md2-accordion-header>-->
                                    <!--<div class="realization-container" [dragula]="'bag-kek2'">-->

                                        <!--<div class="realization-handle"> Realization</div>-->
                                        <!--<div class="realization-handle"> Realization</div>-->
                                        <!--<div class="realization-handle"> Realization</div>-->
                                        <!--<div class="realization-handle"> Realization</div>-->

                                    <!--</div>-->
                                <!--</md2-accordion-tab>-->

                            <!--</div>-->

                        <!--</md2-accordion>-->

                    <!--</md2-accordion-tab>-->
                    <!--&lt;!&ndash;end trip&ndash;&gt;-->

                <!--</md2-accordion>-->
            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;end right field route&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->